[submodule "astro"]
	path = astro
	url = https://github.com/VictorMongeM/astro.git
[submodule "django"]
	path = django
	url = https://github.com/VictorMongeM/django.git
[submodule "Next"]
	path = Next
	url = https://github.com/VictorMongeM/Next.git
