[submodule "astro"]
	path = astro
	url = https://github.com/VictorMongeM/astro.git
[submodule "django"]
	path = django
	url = https://github.com/VictorMongeM/django.git
[submodule "Next"]
	path = Next
	url = https://github.com/VictorMongeM/Next.git
[submodule "angular"]
	path = angular
	url = https://github.com/VictorMongeM/angular.git
[submodule "expressjs"]
	path = expressjs
	url = https://github.com/VictorMongeM/expressjs.git
[submodule "SpringBoot"]
	path = SpringBoot
	url = https://github.com/VictorMongeM/SpringBoot.git
[submodule "react"]
	path = react
	url = https://github.com/VictorMongeM/react.git
